<div class="container main-container">
    <ngx-spinner 
        bdColor = "rgba(0, 0, 0, 0.8)" 
        size = "medium" 
        color = "#fff" 
        type = "ball-beat" 
        [fullScreen] = "true"
    ><p style="color: white" > {{ 'br_com_supermarket_MSG_WAIT' | translate }} </p>
    </ngx-spinner>

    <h3>{{ 'br_com_supermarket_PERSON_DELETE_CONFIRMATION' | translate }} {{ fillTitlePersonDetails() }} ?</h3>
    <hr />

    <div class="alert alert-danger" *ngIf="errors?.length > 0">
        <h3 id="msgRetorno">{{ 'br_com_supermarket_MSG_GENERIC_ERROR' | translate }}</h3>
        <ul>
            <li *ngFor="let error of errors">{{ error }}</li>
        </ul>
    </div>

    <div class="row">
        <div class="col-md-6">
            <dl class="row">
                <dt class="col-sm-10">
                    <label class="control-label">{{ 'br_com_supermarket_PERSON_FULL_NAME' | translate }}</label>
                </dt>
                <dd class="col-sm-10">
                    {{ fillTitlePersonDetails() }}
                </dd>
                <dt class="col-sm-10">
                    <label class="control-label">{{ 'br_com_supermarket_PERSON_CPF' | translate }}</label>
                </dt>
                <dd class="col-sm-10">
                    {{ person?.cpf | cpf }}
                </dd>
                <dt class="col-sm-10">
                    <label class="control-label">{{ 'br_com_supermarket_PERSON_RG' | translate }}</label>
                </dt>
                <dd class="col-sm-10">
                    {{ person?.rg }}
                </dd>
                <dt class="col-sm-10">
                    <label class="control-label">{{ 'br_com_supermarket_PERSON_NATIONALITY' | translate }}</label>
                </dt>
                <dd class="col-sm-10">
                    {{ person?.nationality }}
                </dd>
                <dt class="col-sm-10">
                    <label class="control-label">{{ 'br_com_supermarket_PERSON_NATURALNESS' | translate }}</label>
                </dt>
                <dd class="col-sm-10">
                    {{ person?.naturalness }}
                </dd>
                <dt class="col-sm-10">
                    <label class="control-label">{{ 'br_com_supermarket_PERSON_BIRTH_DATE' | translate }}</label>
                </dt>
                <dd class="col-sm-10">
                    {{ person?.birthDate | singleDate }}
                </dd>
                <dt class="col-sm-10">
                    <label class="control-label">{{ 'br_com_supermarket_PERSON_SCHOLARITY' | translate }}</label>
                </dt>
                <dd class="col-sm-10">
                    {{ person?.scholarity }}
                </dd>
                <dt class="col-sm-10">
                    <label class="control-label">{{ 'br_com_supermarket_PERSON_DEPENDENTS' | translate }}</label>
                </dt>
                <dd class="col-sm-10">
                    {{ person?.dependents === true ? ('br_com_supermarket_MSG_GENERIC_YES' | translate) : ('br_com_supermarket_MSG_GENERIC_NO' | translate) }}
                </dd>
                <dt class="col-sm-10">
                    <label class="control-label">{{ 'br_com_supermarket_PERSON_FATHER_NAME' | translate }}</label>
                </dt>
                <dd class="col-sm-10">
                    {{ person?.fatherName }}
                </dd>
                <dt class="col-sm-10">
                    <label class="control-label">{{ 'br_com_supermarket_PERSON_MOTHER_NAME' | translate }}</label>
                </dt>
                <dd class="col-sm-10">
                    {{ person?.motherName }}
                </dd>
                <dt class="col-sm-10">
                    <label class="control-label">{{ 'br_com_supermarket_PERSON_EMAIL' | translate }}</label>
                </dt>
                <dd class="col-sm-10">
                    {{ person?.email }}
                </dd>
            </dl>
        </div>
        <div class="col-md-4">
            <img 
                src="{{ images }}{{ person?.personPhoto?.id === null ? defaultId : person?.personPhoto?.id }}" 
                style="width: 190px; height: 228px">
        </div>
    </div>

    <div *ngIf="person?.userData?.userName && person?.userData?.role">
        <div class="accordion-heading" id="f1" (click)="accordion('f1')">
            {{ 'br_com_supermarket_USER_DETAILS' | translate }} <span class="pull-right up-icon" [class.icon]="id === 'f1'"><i class="fa fa-chevron-up"></i></span>
        </div>
        <div class="accordion-content" *ngIf="id === 'f1'">
            <user-data-list [userData]="person.userData"></user-data-list>
        </div>
    </div>
    <hr />

    <div>
        <a class="btn btn-danger" href="javascript:void(0)" (click)="deletePerson()">{{ 'br_com_supermarket_BUTTON_DELETE' | translate }}</a>&nbsp;
        <a class="btn btn-info" [routerLink]="['/person/getAll']">{{ 'br_com_supermarket_BUTTON_BACK' | translate }}</a>
    </div>
</div>