.table-responsive {
    max-height: 400px; /* Ajuste a altura máxima conforme necessário */
    overflow-y: auto; /* Barra de rolagem vertical */
    overflow-x: auto; /* Barra de rolagem horizontal */
  }
  