<div class="container main-container">

    <ngx-spinner 
        bdColor = "rgba(0, 0, 0, 0.8)" 
        size = "medium" 
        color = "#fff" 
        type = "ball-beat" 
        [fullScreen] = "true"
    ><p style="color: white" > {{ 'br_com_supermarket_MSG_WAIT' | translate }} </p>
    </ngx-spinner>

    <h1>{{ 'br_com_supermarket_UPDATE_PASSWORD_TITLE' | translate }}</h1>

    <form novalidate (ngSubmit)="updatePassword()" [formGroup]="changePasswordForm">

        <h4>{{ 'br_com_supermarket_UPDATE_PASSWORD' | translate }}</h4>
        <hr>

        <div class="alert alert-danger" *ngIf="errors.length > 0">
            <h3 id="msgRetorno">{{ 'br_com_supermarket_MSG_GENERIC_ERROR' | translate }}</h3>
            <ul>
                <li *ngFor="let error of errors">{{ error }}</li>
            </ul>
        </div>

        <div class="form-group">
            <label class="col-md-2 control-label">{{ 'br_com_supermarket_UPDATE_NEW_PASSWORD' | translate }}</label>
            <div class="col-md-10">
                <input 
                    class="form-control" 
                    id="oldPassword" 
                    type="password" 
                    placeholder="{{ 'br_com_supermarket_UPDATE_OLD_PASSWORD_REQUIRED' | translate }}" 
                    formControlName="oldPassword" 
                    [ngClass]="{'is-invalid': displayMessage.oldPassword }" 
                />
                <span class="text-danger" *ngIf="displayMessage.oldPassword">
                    <p [innerHTML]="displayMessage.oldPassword"></p>
                </span>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-2 control-label">{{ 'br_com_supermarket_UPDATE_OLD_PASSWORD' | translate }}</label>
            <div class="col-md-10">
                <input 
                    class="form-control" 
                    id="newPassword" 
                    type="password" 
                    placeholder="{{ 'br_com_supermarket_UPDATE_NEW_PASSWORD_REQUIRED' | translate }}" 
                    formControlName="newPassword" 
                    [ngClass]="{'is-invalid': displayMessage.newPassword }" 
                />
                <span class="text-danger" *ngIf="displayMessage.newPassword">
                    <p [innerHTML]="displayMessage.newPassword"></p>
                </span>
            </div>
        </div> 

        <div class="form-group">
            <div class="col-md-4 col-md-offset-2">
                <span>
                    <button 
                        class="btn btn-success" 
                        id="Registrar" 
                        [disabled]="!changePasswordForm.valid" 
                        type="submit">{{ 'br_com_supermarket_BUTTON_CHANGE_PASSWORD' | translate }}
                </button>
                </span>
                &nbsp;
                <a class="btn btn-info" [routerLink]="['/account/details', userData?.id]">{{ 'br_com_supermarket_BUTTON_BACK' | translate }}</a>
            </div>
        </div>
    </form>
</div>
