<div class="container main-container">

    <ngx-spinner 
        bdColor = "rgba(0, 0, 0, 0.8)" 
        size = "medium" 
        color = "#fff" 
        type = "ball-beat" 
        [fullScreen] = "true"
    ><p style="color: white" > {{ 'br_com_supermarket_MSG_WAIT' | translate }} </p>
    </ngx-spinner>

    <h1>{{ 'br_com_supermarket_PROVIDER_NEW' | translate }}</h1>
    
    <hr>
    <div class="row">
        <div class="col-md-10">
            <form novalidate="novalidate" (ngSubmit)="addProvider()" [formGroup]="providerForm">

                <div class="alert alert-danger" *ngIf="errors?.length > 0">
                    <h3 id="msgRetorno">{{ 'br_com_supermarket_MSG_GENERIC_ERROR' | translate }}</h3>
                    <ul>
                        <li *ngFor="let error of errors">{{ error }}</li>
                    </ul>
                </div>

                <div class="form-group">
                    <label class="control-label">{{ 'br_com_supermarket_PROVIDER_NAME' | translate }}</label>
                    <div>
                        <input 
                            class="form-control" 
                            id="name" type="text" 
                            placeholder="{{ 'br_com_supermarket_PROVIDER_NAME_REQUIRED_PLACEHOLDER' | translate }}" 
                            formControlName="name" 
                            [ngClass]="{'is-invalid': displayMessage.name }"
                        />
                        <span class="text-danger" *ngIf="displayMessage.name">
                            <p [innerHTML]="displayMessage.name"></p>
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label">{{ 'br_com_supermarket_PROVIDER_SUBSCRIPTION_TYPE' | translate }}</label>
                        <select
                            class="form-control" 
                            id="subscriptionType" 
                            formControlName="subscriptionType" 
                        >
                        <option value="" disabled selected hidden>{{ 'br_com_supermarket_PROVIDER_SUBSCRIPTION_TYPE_REQUIRED_PLACEHOLDER' | translate }}</option>
                        <option value="" selected></option>
                        <option *ngFor="let subscriptionType of subscriptionTypes" value="{{subscriptionType.key}}">{{ subscriptionType.name }}</option>
                        </select>
                        <span class="text-danger" *ngIf="displayMessage.subscriptionType">
                            <p [innerHTML]="displayMessage.subscriptionType"></p>
                        </span>
                </div>

                <div class="form-group">
                    <label class="control-label">{{ 'br_com_supermarket_PROVIDER_SUBSCRIPTION_NUMBER' | translate }}</label>
                    <div>
                        <input 
                            class="form-control" 
                            id="subscriptionNumber"
                            type="text" 
                            placeholder="{{ 'br_com_supermarket_PROVIDER_SUBSCRIPTION_NUMBER_REQUIRED_PLACEHOLDER' | translate }}" 
                            formControlName="subscriptionNumber" 
                            [mask]="documentMask()"
                            [ngClass]="{'is-invalid': displayMessage.subscriptionNumber }" 
                        />

                        <span class="text-danger" *ngIf="displayMessage.subscriptionNumber">
                            <p [innerHTML]="displayMessage.subscriptionNumber"></p>
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label">{{ 'br_com_supermarket_PROVIDER_STATE_REGISTRATION' | translate }}</label>
                    <div>
                        <input 
                            class="form-control" 
                            id="stateRegistration"
                            type="text" 
                            placeholder="{{ 'br_com_supermarket_PROVIDER_STATE_REGISTRATION_REQUIRED_PLACEHOLDER' | translate }}" 
                            formControlName="stateRegistration" 
                            [ngClass]="{'is-invalid': displayMessage.stateRegistration}" 
                        />

                        <span class="text-danger" *ngIf="displayMessage.stateRegistration">
                            <p [innerHTML]="displayMessage.stateRegistration"></p>
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label">{{ 'br_com_supermarket_PROVIDER_MUNICIPAL_REGISTRATION' | translate }}</label>
                    <div>
                        <input 
                            class="form-control" 
                            id="municipalRegistration"
                            type="text" 
                            placeholder="{{ 'br_com_supermarket_PROVIDER_MUNICIPAL_REGISTRATION_REQUIRED_PLACEHOLDER' | translate }}" 
                            formControlName="municipalRegistration" 
                            [ngClass]="{'is-invalid': displayMessage.municipalRegistration}" 
                        />

                        <span class="text-danger" *ngIf="displayMessage.municipalRegistration">
                            <p [innerHTML]="displayMessage.municipalRegistration"></p>
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label">{{ 'br_com_supermarket_PROVIDER_ADDRESS' | translate }}</label>
                    <div>
                        <input 
                            class="form-control" 
                            id="address"
                            type="text" 
                            placeholder="{{ 'br_com_supermarket_PROVIDER_ADDRESS_REQUIRED_PLACEHOLDER' | translate }}" 
                            formControlName="address" 
                            [ngClass]="{'is-invalid': displayMessage.address}" 
                        />

                        <span class="text-danger" *ngIf="displayMessage.address">
                            <p [innerHTML]="displayMessage.address"></p>
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label">{{ 'br_com_supermarket_PROVIDER_PHONE' | translate }}</label>
                    <div>
                        <input 
                            class="form-control" 
                            id="phone"
                            type="text" 
                            placeholder="{{ 'br_com_supermarket_PROVIDER_PHONE_REQUIRED_PLACEHOLDER' | translate }}" 
                            mask="(00) 0000-0000||(00) 00000-0000"
                            formControlName="phone" 
                            [ngClass]="{'is-invalid': displayMessage.phone}" 
                        />

                        <span class="text-danger" *ngIf="displayMessage.phone">
                            <p [innerHTML]="displayMessage.phone"></p>
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label">{{ 'br_com_supermarket_PROVIDER_RESPONSIBLE' | translate }}</label>
                    <div>
                        <input 
                            class="form-control" 
                            id="responsible"
                            type="text" 
                            placeholder="{{ 'br_com_supermarket_PROVIDER_RESPONSIBLE_REQUIRED_PLACEHOLDER' | translate }}" 
                            formControlName="responsible" 
                            [ngClass]="{'is-invalid': displayMessage.responsible}" 
                        />

                        <span class="text-danger" *ngIf="displayMessage.responsible">
                            <p [innerHTML]="displayMessage.responsible"></p>
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <input 
                        type="submit" 
                        value="{{ 'br_com_supermarket_BUTTON_REGISTER' | translate }}" 
                        [disabled]="!providerForm.valid" 
                        class="btn btn-primary"
                        >
                    &nbsp;
                    <a class="btn btn-info" [routerLink]="[ '/provider/getAll']">{{ 'br_com_supermarket_BUTTON_BACK' | translate }}</a>
                </div>
            </form>
        </div>
    </div>
</div>
