<div class="container main-container">
    <ngx-spinner 
        bdColor = "rgba(0, 0, 0, 0.8)" 
        size = "medium" 
        color = "#fff" 
        type = "ball-beat" 
        [fullScreen] = "true"
    ><p style="color: white" > {{ 'br_com_supermarket_MSG_WAIT' | translate }} </p>
    </ngx-spinner>

    <h3>{{ 'br_com_supermarket_USER_DETAILS' | translate }} {{ userData?.userName }}</h3>
    <hr />

    <div class="alert alert-danger" *ngIf="errors?.length > 0">
        <h3 id="msgRetorno">{{ 'br_com_supermarket_MSG_GENERIC_ERROR' | translate }}</h3>
        <ul>
            <li *ngFor="let error of errors">{{ error }}</li>
        </ul>
    </div>

    <div class="row">
        <div class="col-md-6">
            <dl>
                <dt class="col-sm-10">
                    <label class="control-label">{{ 'br_com_supermarket_USER_NAME' | translate }}</label>
                </dt>
                <dd class="col-sm-10">
                    {{ userData?.userName }}
                </dd>
                <dt class="col-sm-10">
                    <label class="control-label">{{ 'br_com_supermarket_USER_ROLE' | translate }}</label>
                </dt>
                <dd class="col-sm-10">
                    {{ userData?.role }}
                </dd>
                <dt class="col-sm-10">
                    <label class="control-label">{{ 'br_com_supermarket_USER_REGISTRATION_DATE' | translate }}</label>
                </dt>
                <dd class="col-sm-10">
                    {{ userData?.registrationDate | dateHour }}
                </dd>
                <dt class="col-sm-10">
                    <label class="control-label">{{ 'br_com_supermarket_USER_IS_EMPLOYEE' | translate }}</label>
                </dt>
                <dd class="col-sm-10">
                    {{ userData?.employee === true ? ('br_com_supermarket_MSG_GENERIC_YES' | translate) : ('br_com_supermarket_MSG_GENERIC_NO' | translate) }}
                </dd>
            </dl>
        </div>
    </div>

    <hr />

    <div>
        <a class="btn btn-info" [routerLink]="['/home']">{{ 'br_com_supermarket_BUTTON_BACK' | translate }}</a>
        &nbsp;
        <a class="btn btn-primary" [routerLink]="['/account/update-password', userData?.id]">{{ 'br_com_supermarket_BUTTON_CHANGE_PASSWORD' | translate }}</a>
    </div>
</div>

