.text-right {
    width: 10%;
}

.fa-pencil-alt {
    color: green;
}

.fa-trash {
    color: red;
}

.count-list {
    text-align: right;
}

.positive-inventory {
    color: green;
}

.equals-inventory {
    color: orange;
}

.negative-inventory {
    color: red;
}