.text-right {
    width: 10%;
}

.fa-pencil-alt {
    color: green;
    cursor: pointer;
}

.fa-trash {
    color: red;
    cursor: pointer;
}

.count-list {
    text-align: right;
}

.net-salary-display {
    font-size: 24px;
    margin-left: auto;
}
  