<div class="container main-container">

    <ngx-spinner 
        bdColor = "rgba(0, 0, 0, 0.8)" 
        size = "medium" 
        color = "#fff" 
        type = "ball-beat" 
        [fullScreen] = "true"
    ><p style="color: white" > Aguarde... </p>
    </ngx-spinner>

    <h1>{{ 'br_com_supermarket_MAIN_SECTIONS' | translate }}</h1>

    <p>
        <a class="btn btn-info" [routerLink]="['/main-section/new']">{{ 'br_com_supermarket_BUTTON_NEW_MAIN_SECTION' | translate }}</a>
    </p>

    <table class="table table-hover">
        <thead class="thead-dark">
            <tr>
                <th>{{ 'br_com_supermarket_MAIN_SECTION_CODE' | translate }}</th>
                <th>{{ 'br_com_supermarket_MAIN_SECTION_NAME' | translate }}</th>
                <th>{{ 'br_com_supermarket_MAIN_SECTION_DEPARTMENT' | translate }}</th>
                <th></th>
            </tr>
        </thead>
        <tr *ngFor="let mainsection of mainSections">
            <td>
                {{ mainsection.code }}
            </td>
            <td>
                {{ mainsection.name }}
            </td>
            <td>
                {{ mainsection.department.name }}
            </td>
            <td class="text-right">
                <a class="fa fa-search" [routerLink]="['/main-section/details',mainsection.id]"></a>&nbsp;
                <a class="fa fa-pencil-alt" [routerLink]="['/main-section/edit',mainsection.id]"></a>&nbsp;
                <a class="fa fa-trash" [routerLink]="['/main-section/delete',mainsection.id]"></a>
            </td>
        </tr>
    </table>
    <pagination [page]="page" (paginationEvent)="changePage($event)"></pagination>
    <p class="count-list">{{ 'br_com_supermarket_MAIN_SECTION_TOTAL_ELEMENTS' | translate }} {{ page?.totalElements }}</p>
</div>

