<div class="container main-container">

    <ngx-spinner 
        bdColor = "rgba(0, 0, 0, 0.8)" 
        size = "medium" 
        color = "#fff" 
        type = "ball-beat" 
        [fullScreen] = "true"
    ><p style="color: white" > {{ 'br_com_supermarket_MSG_WAIT' | translate }} </p>
    </ngx-spinner>

    <h1>{{ 'br_com_supermarket_GOODS_RECEIPT_NEW' | translate }}</h1>
    
    <hr>
    <div class="row">
        <div class="col-md-10">
            <form novalidate="novalidate" (ngSubmit)="addGoodsReceipt()" [formGroup]="goodsReceiptForm">

                <div class="form-group">
                    <input 
                        type="submit" 
                        [disabled]="!goodsReceiptForm.valid" 
                        value="{{ 'br_com_supermarket_BUTTON_REGISTER' | translate }}" 
                        class="btn btn-primary"
                        >
                    &nbsp;
                    <a class="btn btn-info" [routerLink]="[ '/goods-receipt/getAll']">{{ 'br_com_supermarket_BUTTON_BACK' | translate }}</a>
                </div>

                <div class="alert alert-danger" *ngIf="errors?.length > 0">
                    <h3 id="msgRetorno">{{ 'br_com_supermarket_MSG_GENERIC_ERROR' | translate }}</h3>
                    <ul>
                        <li *ngFor="let error of errors">{{ error }}</li>
                    </ul>
                </div>

                <div class="form-group">
                    <label class="control-label">{{ 'br_com_supermarket_GOODS_RECEIPT_INVOICE_KEY' | translate }}</label>
                    <div>
                        <input 
                            class="form-control" 
                            id="invoice" 
                            type="text" 
                            placeholder="{{ 'br_com_supermarket_GOODS_RECEIPT_INVOICE_KEY_REQUIRED_PLACEHOLDER' | translate }}" 
                            formControlName="invoice" 
                            [ngClass]="{'is-invalid': displayMessage.invoice }"
                        />
                        <span class="text-danger" *ngIf="displayMessage.invoice">
                            <p [innerHTML]="displayMessage.invoice"></p>
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label">{{ 'br_com_supermarket_GOODS_RECEIPT_PRODUCT_SEARCH' | translate }}</label>
                    <input
                        class="form-control"
                        type="text"
                        id="searchProduct"
                        formControlName="searchProduct"
                        (input)="searchProducts($event.target.value)"
                    />
                    <span class="text-danger" *ngIf="displayMessage.searchProduct">
                        <p [innerHTML]="displayMessage.searchProduct"></p>
                    </span>
                    <ul *ngIf="searchResults.length > 0" class="product-list">
                        <li *ngFor="let product of searchResults" (click)="selectProduct(product)" class="product-item">
                            {{ product.ean13 }} - {{ product.name }} - {{ product.inventory }}
                        </li>
                    </ul>
                </div>
                <div class="form-group selected-products-section">
                    <p class="count-list">{{ 'br_com_supermarket_GOODS_RECEIPT_TOTAL_PRODUCT' | translate }} {{ selectedProducts.length }}</p>
                    <label class="control-label" *ngIf="selectedProducts.length > 0">
                        <strong style="display: block; text-align: center;">{{ 'br_com_supermarket_GOODS_RECEIPT_SELECTED_PRODUCTS' | translate }}</strong>
                    </label>
                    <table class="selected-products-table" *ngIf="selectedProducts.length > 0">
                        <thead>
                            <tr>
                                <th class="text-center">{{ 'br_com_supermarket_GOODS_RECEIPT_PRODUCT_CODE' | translate }}</th>
                                <th class="text-center">{{ 'br_com_supermarket_GOODS_RECEIPT_PRODUCT_DESCRIPTION' | translate }}</th>
                                <th class="text-center">{{ 'br_com_supermarket_GOODS_RECEIPT_PRODUCT_ACTUAL_QUANTITY' | translate }}</th>
                                <th class="text-center">{{ 'br_com_supermarket_GOODS_RECEIPT_PRODUCT_ACTUAL_PURCHASE_PRICE' | translate }}</th>
                                <th class="text-center">{{ 'br_com_supermarket_GOODS_RECEIPT_PRODUCT_GOODS_RECEIPT' | translate }}</th>
                                <th class="text-center">{{ 'br_com_supermarket_GOODS_RECEIPT_PRODUCT_INVOICE_COST' | translate }}</th>
                                <th class="text-center">{{ 'br_com_supermarket_GOODS_RECEIPT_PRODUCT_ACTUAL_INVENTORY' | translate }}</th>
                                <th class="text-center"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <ng-container *ngFor="let product of selectedProducts; let i = index">
                                <tr class="selected-product-item">
                                    <td class="text-center">{{ product.ean13 }}</td>
                                    <td class="text-center">{{ product.name }}</td>
                                    <td class="text-center">{{ product.inventory }}</td>
                                    <td class="text-center">{{ product.purchasePrice | currency : 'R$ '}}</td>
                                    <td>
                                        <input
                                            type="text"
                                            [value]="product.newTotalQuantity"
                                            (input)="onQuantityChange(i, $event.target.value)"
                                            [allowNegativeNumbers]="false"
                                            mask="separator.2"
                                            thousandSeparator="."
                                            class="quantity-input"
                                        >
                                    </td>
                                    <td>
                                        <input
                                            type="text"
                                            [value]="product.purchasePrice"
                                            (input)="onPurchasePriceChange(i, $event.target.value)"
                                            [allowNegativeNumbers]="false"
                                            mask="separator.2"
                                            thousandSeparator="."
                                            class="quantity-input"
                                        >
                                    </td>
                                    <td class="text-center">{{ product.newInventory }}</td>
                                    <td>
                                        <a class="fa fa-trash" (click)="removeProduct(i)"></a>
                                    </td>
                                </tr>
                            </ng-container>
                        </tbody>
                    </table>
                </div>                                  
            </form>
        </div>
    </div>
</div>
