<div class="container main-container">

    <ngx-spinner 
        bdColor="rgba(0, 0, 0, 0.8)" 
        size="medium" 
        color="#fff" 
        type="ball-beat" 
        [fullScreen]="true"
    ><p style="color: white">{{ 'br_com_supermarket_MSG_WAIT' | translate }}</p>
    </ngx-spinner>

    <h1>{{ 'br_com_supermarket_GOODS_RECEIPT_NEW' | translate }}</h1>
    
    <hr>

    <form novalidate="novalidate" [formGroup]="goodsIssueForm">

        <div class="form-group">
            <div class="market-info">
                <!-- Informações do Mercado -->
                <h2>{{ nomeMercado }}</h2>
                <p>CNPJ: {{ cnpjMercado }}</p>
            </div>
        </div>

        <div class="form-group">
            <div class="info-goods-issue-container">
                <div class="info-goods-issue-general">
                    <div class="info-goods-issue">
                        <label>Operador:</label>
                        <span>{{ codigoOperador }}</span>
                        <br>
                        <label>Caixa:</label>
                        <span>{{ 001 }}</span>
                        <br>
                        <label>Venda:</label>
                        <span>{{ 001 }}</span>
                    </div>
                    <div class="info-goods-issue-logo">
                        
                            <img src="caminho/para/logo.png" alt="Logo do Estabelecimento">
                        
                    </div>
                </div>

                <div class="info-goods-issue-registers">
                    <h3>Mercadorias Registradas</h3>
                    <ol>
                        <li *ngFor="let product of selectedProducts">
                            Descrição: {{ product.name }} - 
                            Quantidade: {{ product.inventory }} - 
                            Preço UN: {{ product.salePrice | currency : 'BRL' }} -
                            Preço Total: {{ product.inventory * product.salePrice | currency : 'BRL' }}
                        </li>
                    </ol>
                </div>                
            </div>
        </div>

        <div class="form-group">
            <div class="info-unity-goods-issue-container">
                <div class="info-unity-goods-issue-general">
                    <div class="info-unity-goods-issue">
                        <label>Quantidade</label>
                        <input 
                            type="text" 
                            formControlName="inventory"
                            (input)="verifyDefaultValues()"
                        > <!-- Campo de entrada desativado -->
                        <span class="text-danger" *ngIf="displayMessage.inventory">
                            <p [innerHTML]="displayMessage.inventory"></p>
                        </span>
                    </div>
                    <div class="info-price-goods-issue">
                        <label>Preço</label>
                        <input 
                            type="text" 
                            formControlName="price"
                            mask="separator.2"
                            prefix="R$ "
                            thousandSeparator="."
                            decimalMarker=","
                            (input)="checkFieldsNotEmpty()"
                        >
                    </div>
                    <div class="info-description-goods-issue">
                        <label class="mr-2">Descrição</label>
                        <input 
                            type="text" 
                            formControlName="description" 
                            class="mr-2" 
                            (input)="checkFieldsNotEmpty()"
                        >
                    </div>
                    <div class="info-description-goods-register-button d-flex align-items-end">
                        <button class="btn btn-primary" [disabled]="isNactiveButtonRegister" (click)="registerProduct()">Registrar</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Campo de Busca de Mercadorias -->
        <div class="form-group">
            <div class="search-container position-relative">
                <input
                    class="form-control"
                    type="text"
                    id="searchProduct"
                    formControlName="searchProduct"
                    (input)="searchProducts($event.target.value)"
                />
                <span class="text-danger" *ngIf="displayMessage.searchProduct">
                    <p [innerHTML]="displayMessage.searchProduct"></p>
                </span>
                <ul *ngIf="searchResults.length > 0" class="product-list">
                    <li *ngFor="let product of searchResults" (click)="selectProduct(product)" class="product-item">
                        {{ product.ean13 }} - {{ product.name }} - {{ product.salePrice | currency : 'R$ ' }}
                    </li>
                </ul>
            </div>
            
        </div>

        <!-- Novo contêiner para os elementos de total e botões -->
        <div class="form-group">
            <div class="total-buttons-container">
                <!-- Exibição do Total da Compra -->
                <div class="total-container">
                    <h1>Total: {{ totalAllProducts | currency : 'BRL' }}</h1>
                </div>

                <!-- Botões de Cancelar e Pagamento -->
                <div class="buttons-container">
                    <button class="btn btn-danger" [disabled]="selectedProducts.length == 0" (click)="handleCancelClick()">Cancelar</button>
                    <button class="btn btn-success" [disabled]="selectedProducts.length == 0" (click)="openPaymentModal()">Pagamento</button>
                </div>
            </div>
        </div>

                <!-- Modal de Confirmação do cancelamento da compra-->
        <ng-template #confirmCancelModal let-modal>
            <div class="modal-header">
                <h5 class="modal-title">Cancelamento da Compra</h5>
                <button type="button" class="close" (click)="modal.dismiss()" aria-label="Fechar">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Tem certeza de que deseja cancelar a compra?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="modal.dismiss()">Não</button>
                <button type="button" class="btn btn-danger" (click)="confirmCancel()">Sim</button>
            </div>
        </ng-template>
        
        <!-- Modal de Pagamento -->
        <ng-template #paymentModal let-modal>
            <div class="modal-header custom-modal-header">
                <h5 class="modal-title custom-modal-title">Efetuar Pagamento</h5>
                <button type="button" class="close" (click)="modal.dismiss()" aria-label="Fechar">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body custom-modal-body">
                <p>Total da Compra: {{ totalAllProducts | currency : 'BRL' }}</p>
                <label for="paymentMethod">Selecione o Meio de Pagamento:</label>
                <select
                    class="form-control custom-input" 
                    id="paymentOptionsType" 
                    formControlName="paymentOptionsType"
                    (change)="checkPaymentOptionsValidity($event)"
                    >
                        <option value="" selected></option>
                        <option *ngFor="let paymentOption of paymentOptions">{{ paymentOption }}</option>
                    </select>
                    <span class="text-danger" *ngIf="goodsIssueForm.get('paymentOptionsType')?.invalid && goodsIssueForm.get('paymentOptionsType')?.touched">
                        <p>Selecione um meio de pagamento válido.</p>
                    </span>

                    <div class="form-group">
                        <label for="totalReceived">Valor recebido:</label>
                        <input 
                            type="text" 
                            class="form-control custom-input" 
                            id="totalReceived" 
                            formControlName="totalReceived"
                            mask="separator.2"
                            prefix="R$ "
                            thousandSeparator="."
                            (input)="checkTotalReceivedNotEmpty()"
                            (change)="checkTotalReceivedValidity($event)"
                        >
                        <span class="text-danger" *ngIf="goodsIssueForm.get('totalReceived')?.invalid && goodsIssueForm.get('totalReceived')?.touched">
                            <p>Insira o valor.</p>
                        </span>
                    </div>
            </div>

            <div class="modal-footer custom-modal-footer">
                <button type="button" class="btn btn-secondary" (click)="modal.dismiss()">Cancelar</button>
                <button 
                    type="submit" 
                    class="btn btn-primary" 
                    [disabled]="isPaymentButtonDisabled()"
                    (click)="addGoodsIssue()"
                >
                    Efetuar Pagamento
                </button>
            </div>
        </ng-template>

        <!-- Modal do troco -->
        <ng-template #changeModal let-modal>
            <div class="modal-header">
                <div style="width: 100%; text-align: center;">
                    <h5 class="modal-title custom-title">Troco</h5>
                </div>
                <button type="button" class="close" (click)="onCloseChangeModal()" aria-label="Fechar">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body text-center">
                <p class="custom-total-change">{{ totalChange | currency : 'BRL' }}</p>
            </div>
        </ng-template>
    </form>
</div>
