.container {
    display: flex;
    flex-direction: column;
}

.info-goods-issue-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    height: 400px;
}

.info-goods-issue-general {
    flex: 0.5;
    height: 400px;
}

.info-goods-issue {
    flex: 1;
    margin-right: 20px;
    background-color: #ADD8E6; /* Azul claro */
    padding: 10px;
    border-radius: 5%;
    border: 1px solid #000; /* Borda fina */
}

.info-goods-issue-registers {
    flex: auto;
    height: 97.5%;
    border: 1px solid #000; /* Borda fina */
    border-radius: 5%;
    background-color: #dfdda1;
    overflow-x: auto; /* Adiciona scroll horizontal */
    max-height: 400px; /* Define uma altura máxima */
    overflow-y: auto; /* Adiciona scroll vertical */
    width: 400px; /* Defina uma largura fixa ou ajuste conforme necessário */
}

.info-goods-issue-registers ol {
    max-width: 100%;
}

.info-goods-issue-registers h3 {
    text-align: center;
    margin-top: 10px;
}

.info-goods-issue-logo {
    flex: 0.5;
    height: 260px;
    display: flex;
    justify-content: center; /* Centraliza a imagem horizontalmente */
    align-items: center; /* Centraliza a imagem verticalmente */
}

img {
    margin-right: 20px;
    margin-top: 20px;
    width: 100%; /* A largura da imagem ocupa 100% do contêiner */
    height: 100%; /* A altura da imagem ocupa 100% do contêiner */
    border: 1px solid #000; /* Borda fina */
    border-radius: 5%;
    max-width: 100%; /* Garante que a imagem não ultrapasse o contêiner */
    max-height: 100%; /* Garante que a imagem não ultrapasse o contêiner */
}

.search-container {
    display: flex;
    justify-content: center;
}

.search-container input[type="text"] {
    flex-grow: 1;
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.product-list {
    list-style-type: none;
    position: absolute;
    top: calc(100% + 5px); /* Posiciona a lista abaixo do campo de pesquisa */
    z-index: 9999;
    background-color: white;
    border: 1px solid #ccc;
    padding: 5px;
    width: 100%; /* Ocupa a largura do contêiner pai */
    max-height: 200px; /* Ajuste conforme necessário */
    overflow-y: auto;
    cursor: pointer;
}

.product-item {
    padding: 5px;
    border: 1px solid #ccc;
    margin: 5px 0;
    transition: background-color 0.3s;
}

.product-item:hover {
    background-color: #f5f5f5;
}

.selected-products {
    list-style-type: none;
    padding: 0;
}

.selected-products li {
    margin: 5px 0;
}

.selected-products-section {
    margin-top: 20px;
}

.selected-product-item {
    background-color: #f5f5f5;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.selected-product-item:hover {
    background-color: #e0e0e0;
    transition: background-color 0.3s;
}

.total-buttons-container {
    display: flex;
    justify-content: space-between; /* Alinha os itens ao início e ao final do contêiner */
    margin-top: 20px; /* Adicione margem superior conforme necessário */

}

.total-container {
    border: 1px solid #000;
    border-radius: 5px;
    width: calc(70% - 10px); /* 50% da largura da tela, com margens */
}

.total-container h1 {
    text-align: center;
}

.buttons-container {
    margin-top: 10px;
    justify-content: space-between; /* Alinha os itens ao início e ao final do contêiner */
    width: calc(20% - 10px); /* 50% da largura da tela, com margens */
}

.buttons-container .btn {
    margin-right: 5px;
}

.info-unity-goods-issue-general {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px; /* Adiciona um espaço de 10px entre os campos */
}

.info-unity-goods-issue-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.info-unity-goods-issue-general label {
    display: block;
}

.info-unity-goods-issue-general input {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    box-sizing: border-box;
    width: 100%; /* Adicionado para garantir que os campos de entrada ocupem todo o espaço disponível */
}

.info-unity-goods-issue-general > div:nth-child(1) {
    flex: 1; /* Campo Quantidade ocupa 10% */
}

.info-unity-goods-issue-general > div:nth-child(2) {
    flex: 2; /* Campo Preço ocupa 20% */
}

.info-unity-goods-issue-general > div:nth-child(3) {
    flex: 5; /* Campo Descrição ocupa o restante */
}

.info-unity-goods-issue,
.info-price-goods-issue,
.info-description-goods-issue,
.info-description-goods-register-button {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centraliza os itens verticalmente */
}

.info-description-goods-register-button button {
    margin-top: 30px; /* Adicione margem superior conforme necessário */
}
