<div class="container main-container">

    <ngx-spinner 
        bdColor = "rgba(0, 0, 0, 0.8)" 
        size = "medium" 
        color = "#fff" 
        type = "ball-beat" 
        [fullScreen] = "true"
    ><p style="color: white" > Aguarde... </p>
    </ngx-spinner>

    <h1>{{ 'br_com_supermarket_SALARY' | translate }}</h1>

    <p>
        <a class="btn btn-info" [routerLink]="['/salary/new']">{{ 'br_com_supermarket_BUTTON_NEW_SALARY' | translate }}</a>
    </p>

    <table class="table table-hover">
        <thead class="thead-dark">
            <tr>
                <th>{{ 'br_com_supermarket_SALARY_POSITION' | translate }}</th>
                <th>{{ 'br_com_supermarket_SALARY_SALARY_RANGE' | translate }}</th>
                <th>{{ 'br_com_supermarket_SALARY_GROSS_SALARY' | translate }}</th>
                <th></th>
            </tr>
        </thead>
        <tr *ngFor="let salary of salaries">
            <td>
                {{ salary.position }}
            </td>
            <td>
                {{ salary.salaryRange }}
            </td>
            <td>
                {{ salary.grossSalary | currency : 'R$ ' }}
            </td>
            <td class="text-right">
                <a class="fa fa-search" [routerLink]="['/salary/details',salary.id]"></a>&nbsp;
                <a class="fa fa-pencil-alt" [routerLink]="['/salary/edit',salary.id]"></a>&nbsp;
                <a class="fa fa-trash" [routerLink]="['/salary/delete',salary.id]"></a>
            </td>
        </tr>
    </table>
    <pagination [page]="page" (paginationEvent)="changePage($event)"></pagination>
    <p class="count-list">{{ 'br_com_supermarket_SALARY_TOTAL_ELEMENTS' | translate }} {{ page?.totalElements }}</p>
</div>
